* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #555;
    --colorhover:rgb(212, 212, 212);
}

html {
    font-size: 10px;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    color: var(--color1);
    scroll-behavior: smooth; 
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

/* NAV STYLING */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2em;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    box-shadow: 0px 1px 10px -5px rgba(85,85,85,0.76);
}

ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width:90%;
}

ul.menu a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color1);
    padding: .2em;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: 200;
    overflow: hidden;
}

/* BURGER STYLING */

.burger {
    display: none;
}

.burger:hover {
    cursor: pointer;
}

.burger:hover .line {
    background-color: var(--color1);
}

@media only screen and (max-width: 1000px) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    .burger {
        display: block;
        transition: .2s;
        width: 3em;
        height: 20px;
        position: relative;
    }

    .burger .line {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color1);
        border-radius: 20px;
        transition: top 0.2s .2s ease, width .2s .2s ease, background-color .2s .3s ease;
    }

    .burger .line:first-child {
        top: 0;
    }

    .burger .line.line:nth-child(2) {
        top: calc(50% - 2px);
    }

    .burger .line.line:nth-child(3) {
        top: calc(100% - 4px);
    }

    .burger.active .line{
        background-color: var(--colorhover);
    }

    .burger.active .line:first-child {
        top: calc(100% - 4px);
    }

    .burger.active .line.line:nth-child(2) {
        width: 60%;
    }

    .burger.active .line.line:nth-child(3) {
        top: 0;
    }

    ul.menu {
        padding-top: 50px;
        position: absolute;
        width:60%;
        left: 0;
        top: 64px;
        background-color: rgba(255, 255, 255, 0.94);
        height: calc(100vh - 64px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        transform: translate(0%);
        transition: 0.7s;
    }
 
    nav .opacity{
        position: absolute;
        left:-100%;
        width:100%;
        height: 200vh;
        /* opacity: 0.4; */
        /* background-color: rgba(256,256,256,0.7); */
        /* transition: 5s; */
    }

    nav div:first-of-type.active{
        left:0%;
    }

    ul.active {
        left:-110%;
    }

    ul.menu li {
        width: 40%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid var(--colorhover);
    }

    ul.menu li:last-child{
        border-bottom: none;
    }

    ul.menu li a {
        font-size: 2.2em;
        letter-spacing: 2px;
    }

    ul.menu a::after {
        display: none;
    }
}

@media (max-width: 900px) and (orientation: landscape){
    ul.menu {
        padding-top: 5px;
    }
}

@media only screen and (max-width: 760px) {
    ul.menu {
        width: 100%;
        height: calc(100vh - 64px);
    }

    .opacity{
        display: none;
    }
}

@media (max-width: 700px) and (orientation: landscape){
    ul.menu li {
        height: 50px;
        line-height: 50px;
    }

    ul.menu li a {
        font-size: 1.7em;
        letter-spacing: 1px;
    }
}

/* HEADER STYLING */
header {
    width: 100%;
    height: 100vh;
    max-height: 600px;
    background: url(/img/bg_image.jpg) rgba(0, 0, 0, 0) no-repeat;
    background-position: right top;
    background-blend-mode: overlay;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

header p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 7em;
    text-transform: uppercase;
    font-weight: 100;
}

header p:first-child{
    bottom: 80px;
    /* color: antiquewhite; */
}

@media only screen and (max-width: 700px) and (orientation: portrait) {

    header {
        background: url(/img/bg_image_min.jpg) rgba(0, 0, 0, 0) no-repeat;
        background-position: right top;
        background-blend-mode: overlay;
        background-size: cover;
        position: relative;
        overflow-x: hidden;
    }
}