* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #555;
    --colorhover:rgb(212, 212, 212);
}

html {
    font-size: 10px;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    color: var(--color1);
    scroll-behavior: smooth; 
}

.container {
    margin: 0 auto;
    overflow: hidden;
}

/* NAV STYLING */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    margin: 0 auto;
    padding: 2em;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    box-shadow: 0px 1px 10px -5px rgba(85,85,85,0.76);
}

ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width:90%;
    max-width: 1400px;
}

ul.menu a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color1);
    padding: .2em;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: 300;
    overflow: hidden;
}

/* BURGER STYLING */
.burger {
    display: none;
}

.burger:hover {
    cursor: pointer;
}

.burger:hover .line {
    background-color: var(--color1);
}

@media only screen and (max-width: 1000px) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    .burger {
        display: block;
        transition: .2s;
        width: 3em;
        height: 20px;
        position: relative;
    }

    .burger .line {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color1);
        border-radius: 20px;
        transition: top 0.2s .2s ease, width .2s .2s ease, background-color .2s .3s ease;
    }

    .burger .line:first-child {
        top: 0;
    }

    .burger .line.line:nth-child(2) {
        top: calc(50% - 2px);
    }

    .burger .line.line:nth-child(3) {
        top: calc(100% - 4px);
    }

    .burger.active .line{
        background-color: var(--colorhover);
    }

    .burger.active .line:first-child {
        top: calc(100% - 4px);
    }

    .burger.active .line.line:nth-child(2) {
        width: 60%;
    }

    .burger.active .line.line:nth-child(3) {
        top: 0;
    }

    ul.menu {
        padding-top: 50px;
        position: absolute;
        width:60%;
        left: 0;
        top: 64px;
        background-color: rgba(255, 255, 255, 0.94);
        height: calc(100vh - 64px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        transform: translate(0%);
        transition: 0.7s;
    }
 
    nav .opacity{
        position: absolute;
        left:-100%;
        width:100%;
        height: 200vh;
    }

    nav div:first-of-type.active{
        left:0%;
    }

    ul.active {
        left:-110%;
    }

    ul.menu li {
        width: 40%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid var(--colorhover);
    }

    ul.menu li:last-child{
        border-bottom: none;
    }

    ul.menu li a {
        font-size: 2.2em;
        letter-spacing: 2px;
    }

    ul.menu a::after {
        display: none;
    }
}

@media (max-width: 900px) and (orientation: landscape){
    ul.menu {
        padding-top: 5px;
    }
}

@media only screen and (max-width: 760px) {
    ul.menu {
        width: 100%;
        height: calc(100vh - 64px);
    }

    .opacity{
        display: none;
    }
}

@media (max-width: 700px) and (orientation: landscape){
    ul.menu li {
        height: 50px;
        line-height: 50px;
    }

    ul.menu li a {
        font-size: 1.7em;
        letter-spacing: 1px;
    }
}

/* HEADER STYLING */
header {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    background: url(../img/DSC_0496.jpg) no-repeat;
    background-position:top center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

header p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 7em;
    text-transform: uppercase;
    font-weight: 100;
}

/* REPERTOIRE SECTION STYLING */
#repertoire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#repertoire h2{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 50px;
}

.shadowdivs{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shadowdivs section{
    width: 280px;
    margin-bottom: 50px;
}

.shadowdivs p{
    margin-top: 10px;
    font-size: 15px;
}

.shadowdiv{
    height: 150px;
    width: 200px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px -5px rgba(110, 110, 110, 0.76);
    border-radius: 3%;
}

@media only screen and (min-width: 700px){
    #repertoire{
        background: rgba(255,255,255, .9);
    }
}

/* SECTION QUOTE */
.quote{
    /* background-color: #E5E7EB; */
    background: url(../img/bg_image2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right top;
}

.quote div{
    padding: 150px 50px;
}

.quote p{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: var(--color1);
}

.quote p:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    font-style:normal;
    text-align: right;
}

@media only screen and (min-width: 700px){
    .quote div{
        max-width: 1000px;
        margin: 0 auto;
    }
}

/* SECTION CALL TO ACTION*/
.contactbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    background-color: var(--color1);
    color: var(--colorhover);
    opacity: 0.8;
}

.contactbtn p:first-of-type{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.contactbtn p:nth-of-type(2){
    font-size: 15px;
    margin-bottom: 20px;
}

button{
    width: 130px;
    line-height: 25px;
    background-color: var(--color1);
    border-style: solid;
    border-color: var(--colorhover);
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

button a{
    text-decoration: none;
    color: var(--colorhover);
}

@media only screen and (min-width: 700px){
    .contactbtn{
        flex-direction: row;
        margin: 100px auto;
        max-width: 1000px;
        text-align: left;
        height: 150px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .contactbtn div{
        flex-grow: 1;
    }
    .contactbtn p:nth-of-type(2){
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1000px){
    .contactbtn{
         border-radius: 3px;
    }
}

/*             ABOUT PAGE             */
.about{
    padding-top: 65px;
    min-height: calc(100vh - 5vh);
}

.shadow{
    background-color: rgba(255, 255, 255, 0.93);
}

.text{
    padding: 10% 10%;
}

.text h2{
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.text p{
    line-height: 220%;
    text-align: justify;
    font-size: 1.7em;
}

.text .signature{
    margin-top: 5vh;
    font-weight: 600;
    text-align: right;
}

.photoabout {
    height: 450px;
    width: 90%;
    background: url(../img/about_image.jpg);
    background-size: cover;
    background-position: top;
    margin: 5% 5%;
}

@media (orientation: landscape){
    .text{
        padding: 5% 5%;
    }
    .photoabout{
        width: 40%;
        height: 500px;
        float: left;
        margin: 30px 30px;
    }
}

@media (min-width:700px) and (orientation:portrait){
     .photoabout{
        float: left;
        max-width: 300px;
        margin: 2% 2%;
    }
}

@media (min-width: 1000px) and (orientation: landscape){
    .about{
        background: url(../img/DSC_0496.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        padding-bottom: 50px;
    }
    .shadow{
        max-width: 1200px;
        padding: 0 50px;
        margin: 50px auto 0 auto;
        box-shadow: 0px 0px 10px -5px rgba(110, 110, 110, 0.76);
    }
    .photoabout{
        height: 600px;
    }
}

/*           CONTACT PAGE            */
#contact{
    background: url(../img/bg_image2.jpg);
    background-position: top right;
    background-size: cover;
    min-height: calc(100vh - 5vh);
    display: flex;
    align-items: center;
}

/* .Frontcontact{
    background-color: rgba(255,255,255, .9);
} */
.half{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5%;
}

form{
    position: relative;
}

.contact{
    max-width: 500px;
    width: 100%;
}

.contact h1 {
    position: relative;
    line-height: 70px;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
}

section .wrap{
    float: left;
    width: 48%;
}

section .wrap:nth-of-type(1){
    margin: 0 4% 0 0 
}

section .wrap input{
    width: 100%;
}

section .message{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact div form label {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.contact div form input,
textarea {
    font-family: 'Oswald', sans-serif;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid var(--color1);
    color: var(--color1);
    padding: 5px;
    border-radius: 2px;
    font-size: 1.3em;
    margin-bottom: 30px;
}

.contact div form input::placeholder {
    font-size: 13px ;
}

.contact button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30%;
    border-color: var(--color1);
    transition: 0.4s;
}

.contact button:hover{
    background-color: var(--colorhover);
    transition: 0.4s;
    
}
.contact button:hover a{
    color: var(--color1);
    transition: 0.4s;
}

.message textarea {
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
}

.socials {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.socials a {
    text-decoration: none;
    color: var(--color1);
}

.socials a i {
    font-size: 3.5em;
    transition: .3s;
}


@media (min-width: 1000px) {
    .half{
        width: 50%;
        min-width: 700px;
    }
}



/*           FOOTER SECTION            */
footer{
    height: 5vh;
    background-color: var(--color1);
    color: var(--colorhover);
    text-align: center;
    line-height: 5vh
}


@media(min-width: 700px){
    body{
        background: url(../img/DSC_0496.jpg);
        background-position: top right;
        background-attachment: fixed;
        background-size: cover;
    }
    header{
        background: none;
    }
}
